In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import xgboost as xgb
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# SQL CONNECTION

engine = sqlalchemy.create_engine('mysql+pymysql://root:Sp1d3rman@localhost:3306/new_nhl_data')

## BUILDING THE MODEL

In [3]:
# NEW NHL MODEL

# Reading in all games data from nhl_data SQL db.
df_sql = pd.read_sql("game_data", engine)

#Checking that last nights games were added correctly.

df_sql.tail()

,Team,GP,TOI/GP,W,L,OTL,ROW,Points,Point %,CF/60,...,LDGF/60,LDGA/60,LDGF%,LDSH%,LDSV%,SH%,SV%,PDO,Date,id
26815,Edmonton Oilers,1,60.0000,1,0,0,1,2,1.0,41.00,...,0,0,-,0,100,9.52,96.00,1.055,2021-03-18,26824
26816,Minnesota Wild,1,60.0000,0,1,0,0,0,0.0,39.00,...,0,0,-,0,100,5.00,90.91,0.959,2021-03-18,26825
26817,Colorado Avalanche,1,60.0000,1,0,0,1,2,1.0,79.00,...,0,0,-,0,100,9.09,95.00,1.041,2021-03-18,26826
26818,Arizona Coyotes,1,60.7833,0,0,1,0,1,0.5,41.46,...,0,2,0.00,0,88.89,8.00,90.32,0.983,2021-03-18,26827
26819,Anaheim Ducks,1,60.7833,1,0,0,1,2,1.0,60.21,...,2,0,100.00,11.11,100,9.68,92.00,1.017,2021-03-18,26828

In [4]:
df_sql.reset_index().set_index(['index','Date']).head()

,,Team,GP,TOI/GP,W,L,OTL,ROW,Points,Point %,CF/60,...,LDSF%,LDGF/60,LDGA/60,LDGF%,LDSH%,LDSV%,SH%,SV%,PDO,id
index,Date,,,,,,,,,,,,,,,,,,,,,
0,2009-10-01,Washington Capitals,1,60.0000,1,0,0,1,2,1.0,56.00,...,70,0,0,-,0,100,11.76,95.00,1.068,9
1,2009-10-01,Boston Bruins,1,60.0000,0,1,0,0,0,0.0,47.00,...,30,0,0,-,0,100,5.00,88.24,0.932,10
2,2009-10-01,Montreal Canadiens,1,64.7833,1,0,0,1,2,1.0,59.27,...,38.46,0,0,-,0,100,14.81,93.48,1.083,11
3,2009-10-01,Toronto Maple Leafs,1,64.7833,0,0,1,0,1,0.5,85.21,...,61.54,0,0,-,0,100,6.52,85.19,0.917,12
4,2009-10-01,San Jose Sharks,1,60.0000,0,1,0,0,0,0.0,75.00,...,81.48,0,1,0.00,0,80,5.00,75.00,0.800,13

In [5]:
df_sql = df_sql.replace([np.inf, -np.inf, '-'], np.nan)

In [6]:
predictors = [x for x in df_sql.columns if x not in ['Team', 'Teamopp', 'Date', 'W','L']]

In [7]:
df_sql[predictors] = df_sql[predictors].astype(float)

## Convert into rolling measures

In [8]:
rolling_df = df_sql.reset_index().set_index(['index','Date','W','L']).groupby('Team').rolling(10).mean().shift(1)

In [9]:
rolling_df.head()

                                    GP  TOI/GP  OTL  ROW  Points  Point %  \
Team          index Date       W L
Anaheim Ducks 43    2009-10-03 0 1 NaN     NaN  NaN  NaN     NaN      NaN
              56    2009-10-06 0 0 NaN     NaN  NaN  NaN     NaN      NaN
              68    2009-10-08 1 0 NaN     NaN  NaN  NaN     NaN      NaN
              102   2009-10-10 1 0 NaN     NaN  NaN  NaN     NaN      NaN
              122   2009-10-11 0 1 NaN     NaN  NaN  NaN     NaN      NaN

                                    CF/60  CA/60  CF%  FF/60  ...  LDSF%  \
Team          index Date       W L                            ...
Anaheim Ducks 43    2009-10-03 0 1    NaN    NaN  NaN    NaN  ...    NaN
              56    2009-10-06 0 0    NaN    NaN  NaN    NaN  ...    NaN
              68    2009-10-08 1 0    NaN    NaN  NaN    NaN  ...    NaN
              102   2009-10-10 1 0    NaN    NaN  NaN    NaN  ...    NaN
              122   2009-10-11 0 1    NaN    NaN  NaN    NaN  ...    NaN

                                    LDGF/60  LDGA/60  LDGF%  LDSH%  LDSV%  \
Team          index Date       W L
Anaheim Ducks 43    2009-10-03 0 1      NaN      NaN    NaN    NaN    NaN
              56    2009-10-06 0 0      NaN      NaN    NaN    NaN    NaN
              68    2009-10-08 1 0      NaN      NaN    NaN    NaN    NaN
              102   2009-10-10 1 0      NaN      NaN    NaN    NaN    NaN
              122   2009-10-11 0 1      NaN      NaN    NaN    NaN    NaN

                                    SH%  SV%  PDO  id
Team          index Date       W L
Anaheim Ducks 43    2009-10-03 0 1  NaN  NaN  NaN NaN
              56    2009-10-06 0 0  NaN  NaN  NaN NaN
              68    2009-10-08 1 0  NaN  NaN  NaN NaN
              102   2009-10-10 1 0  NaN  NaN  NaN NaN
              122   2009-10-11 0 1  NaN  NaN  NaN NaN

[5 rows x 69 columns]

In [10]:
final = rolling_df.reset_index(level=['Team', 'Date','W','L']).sort_index()

In [11]:
final.head()

,Team,Date,W,L,GP,TOI/GP,OTL,ROW,Points,Point %,...,LDSF%,LDGF/60,LDGA/60,LDGF%,LDSH%,LDSV%,SH%,SV%,PDO,id
index,,,,,,,,,,,,,,,,,,,,,
0,Washington Capitals,2009-10-01,1,0,1.0,60.60500,0.0,0.8,1.6,0.80,...,57.193,0.7,0.2,NaN,4.352,98.091,12.361,91.165,1.0353,26679.8
1,Boston Bruins,2009-10-01,0,1,1.0,60.50000,0.0,0.3,0.8,0.40,...,53.799,0.3,0.4,NaN,2.046,96.000,6.267,87.657,0.9391,4792.8
2,Montreal Canadiens,2009-10-01,1,0,1.0,60.20000,0.1,0.6,1.3,0.65,...,46.237,0.3,0.3,NaN,2.576,98.231,10.289,92.444,1.0273,26683.1
3,Toronto Maple Leafs,2009-10-01,0,0,1.0,61.72666,0.1,0.6,1.5,0.75,...,57.086,0.4,0.3,NaN,3.448,96.591,11.482,88.666,1.0015,26692.3
4,San Jose Sharks,2009-10-01,0,1,1.0,60.00000,0.0,0.7,1.4,0.70,...,47.629,0.6,0.6,NaN,5.290,95.461,12.965,93.463,1.0644,26694.3

In [12]:
df_a = final.loc[final.index % 2 == 0, :] # Away
df_b = final.loc[final.index % 2 != 0, :] # Home

In [13]:
n_visitwins = len(df_a[(df_a.W == 1) & (df_a.Date >= '2021-01-13')])

n_matches = len(df_a[df_a.Date >= '2021-01-13'])

win_rate = (float(n_visitwins)/ (n_matches)) *100

home_adv = (float(100-win_rate)-win_rate) /100

print (f'Visitor wins {n_visitwins}')
print(f'Visitor win % {win_rate:.2f}')
print(f'Home win % {100 - win_rate:.2f}')
print(f'Home adv: {home_adv*100:.2f}')

Visitor wins 217
Visitor win % 47.59
Home win % 52.41
Home adv: 4.82

In [14]:
df_c = pd.concat([df_a, df_b.set_index(df_a.index)], axis = 1)

In [15]:
suffix = 'opp'
df_c.columns = [name if duplicated == False else name + suffix for duplicated, name in zip(df_c.columns.duplicated(),df_c.columns)]

In [16]:
df_c.set_index('Date', inplace = True)

In [17]:
df = df_c.drop(columns=['Team','Teamopp','Dateopp','GP','TOI/GP','L','OTL','ROW','Points','Point %','GPopp','TOI/GPopp','Wopp','Lopp','OTLopp','ROWopp','Pointsopp','Point %opp','id','idopp','HDSF/60opp', 'FA/60opp', 'LDSV%', 'SF/60', 'FF/60opp', 'SF/60opp', 'HDSF%opp', 'FA/60', 'SF%opp', 'SA/60opp', 'SA/60', 'FF%', 'HDSA/60opp', 'SCGF/60opp', 'LDSV%opp', 'FF/60', 'HDSF/60', 'SF%', 'HDSA/60', 'HDSF%', 'FF%opp'])

In [18]:
check_null = df.isnull().sum()
check_null[check_null.gt(5000)]

HDGF%        5732
MDGF%       12517
LDGF%       13249
HDGF%opp     5725
MDGF%opp    12486
LDGF%opp    13259
dtype: int64

In [19]:
df.drop(['HDGF%','MDGF%','LDGF%','HDGF%opp','MDGF%opp','LDGF%opp'],inplace=True,axis=1)

In [20]:
predictors = [x for x in df.columns if x not in ['Team','Teamopp','Date','W','L']]

In [21]:
df = df.dropna()

In [22]:
X = df.drop(columns=['W'])
y = df['W']

In [23]:
# scaler = preprocessing.StandardScaler()
# X = scaler.fit_transform(X)

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.25, random_state = 0, shuffle = False)

In [25]:
model = LogisticRegression(C = 0.00026366508987303583,max_iter = 1000, penalty = 'l2', solver='lbfgs')
model.fit(X_train, y_train)

LogisticRegression(C=0.00026366508987303583, max_iter=1000)

In [26]:
model.score(X_test, y_test)

0.5663716814159292

## Fetching live data and predicting on it

In [27]:
games = pd.read_html('https://www.hockey-reference.com/leagues/NHL_2021_games.html')
games[0].drop(columns = ['Unnamed: 5','G','G.1','Att.','LOG','Notes'], inplace = True)
games = games[0]
games['Date'] = pd.to_datetime(games["Date"],format="%Y-%m-%d")
today = pd.Timestamp("today").floor("D")
games = games.loc[(games.Date == today)]
games = games.replace('St. Louis Blues', 'St Louis Blues')
games

          Date               Visitor                 Home
456 2021-03-19  Vegas Golden Knights    Los Angeles Kings
457 2021-03-19     Vancouver Canucks   Montreal Canadiens
458 2021-03-19        St Louis Blues      San Jose Sharks
459 2021-03-19        Calgary Flames  Toronto Maple Leafs
460 2021-03-19      New York Rangers  Washington Capitals

In [28]:
# Initialise columns for each predictor column
for col in predictors:
    games[col] = np.nan

In [29]:
def update_row_with_features(row):
    
    n= 15 # Number of games back to get data

    # Fetch the last 10 games mean from original dataset for the particular teams of the game
    home_rec = df_sql[df_sql.Team.eq(row['Home'])].iloc[-n:].mean()
    visit_rec = df_sql[df_sql.Team.eq(row['Visitor'])].iloc[-n:].mean()
    home_rec.index = [x+'opp' for x in home_rec.index]

    #Convert into dictionary for easier addition to dataframe
    home_rec = home_rec.to_dict()
    visit_rec = visit_rec.to_dict()
    visit_rec.update(home_rec)
    
    #Update dataframe row using dictionary
    for k,v in visit_rec.items():
        if k in predictors:
            games.loc[row.name,k] = v

In [30]:
# Add feature values to each row of dataframe for predictions
games.apply(update_row_with_features,axis=1)

456    None
457    None
458    None
459    None
460    None
dtype: object

In [31]:
games

,Date,Visitor,Home,CF/60,CA/60,CF%,GF/60,GA/60,GF%,xGF/60,...,LDCF%opp,LDSF/60opp,LDSA/60opp,LDSF%opp,LDGF/60opp,LDGA/60opp,LDSH%opp,SH%opp,SV%opp,PDOopp
456,2021-03-19,Vegas Golden Knights,Los Angeles Kings,59.789333,52.427333,53.266000,3.290000,2.166667,62.562000,2.671333,...,53.121333,12.356000,11.474000,52.195333,0.466667,0.200000,3.790000,9.825333,91.686667,1.015200
457,2021-03-19,Vancouver Canucks,Montreal Canadiens,54.646000,62.370667,46.651333,2.376667,2.444000,48.366000,2.305333,...,55.956000,13.642667,11.927333,52.494000,0.466667,0.266667,2.840000,9.255333,91.094000,1.003600
458,2021-03-19,St Louis Blues,San Jose Sharks,50.156000,52.010000,49.160000,2.754000,3.424000,39.114000,2.143333,...,43.194000,10.451333,13.887333,43.431333,0.466667,0.800000,4.651333,10.585333,89.613333,1.002000
459,2021-03-19,Calgary Flames,Toronto Maple Leafs,56.318667,52.774000,51.818000,2.583333,3.382000,45.484667,2.694000,...,45.846667,10.480000,13.230667,44.521333,0.400000,0.400000,4.484667,10.400667,90.794000,1.011867
460,2021-03-19,New York Rangers,Washington Capitals,50.236000,53.863333,48.256667,3.507333,2.770000,53.550000,2.456667,...,49.722000,12.308667,11.972000,50.970667,0.400000,0.533333,3.045333,13.172667,91.156000,1.043133

In [32]:
out = pd.DataFrame(data = {'v_team': games['Visitor'], 'v_prob': np.round(model.predict_proba(games[predictors])[:,1],3),'h_prob': np.round(model.predict_proba(games[predictors])[:,0],3),'h_team': games['Home']})

In [33]:
out = pd.DataFrame(data = {'v_team': games['Visitor'], 'v_prob': np.round(model.predict_proba(games[predictors])[:,1],3),'v_odds': np.round(1 / out['v_prob'],2),'h_prob': np.round(model.predict_proba(games[predictors])[:,0],3),'h_odds':np.round(1 / out['h_prob'],2),'h_team': games['Home']})

In [34]:
out

                   v_team  v_prob  v_odds  h_prob  h_odds               h_team
456  Vegas Golden Knights   0.539    1.86   0.461    2.17    Los Angeles Kings
457     Vancouver Canucks   0.346    2.89   0.654    1.53   Montreal Canadiens
458        St Louis Blues   0.450    2.22   0.550    1.82      San Jose Sharks
459        Calgary Flames   0.376    2.66   0.624    1.60  Toronto Maple Leafs
460      New York Rangers   0.417    2.40   0.583    1.72  Washington Capitals

In [35]:
out.to_csv('daily projections.csv')

## Removing Correlated Features

In [36]:
# import seaborn as sns
# plt.figure(figsize=(12,10))
# cor = X_train.corr()
# sns.heatmap(cor, annot=True, cmap=plt.cm.CMRmap_r)
# plt.show()

In [37]:
# def correlation(dataset, threshold):
#     col_corr = set() # Set all the names of correlated columns
#     corr_matrix = dataset.corr()
#     for i in range(len(corr_matrix.columns)):
#         for j in range(i):
#             if abs(corr_matrix.iloc[i,j]) > threshold: # getting absolute coeff value
#                 colname=corr_matrix.columns[i] # getting name of column
#                 col_corr.add(colname)
#     return col_corr

In [38]:
# corr_features = correlation(X_train, 0.9)
# len(set(corr_features))

In [39]:
len(predictors)

97

In [40]:
# print(corr_features)